{{ section:head_css }}
<style>
    .elementor-element-30fe7361 {
        padding-bottom: 100px;
    }
</style>
{{ /section:head_css }} {{#
============================================================ #}} {{# BODY CLASS
#}} {{# ============================================================ #}} {{
section:body_class }} wp-singular envato_tk_templates-template
envato_tk_templates-template-elementor_header_footer single
single-envato_tk_templates postid-529 wp-embed-responsive
wp-theme-hello-elementor hello-elementor-default elementor-default
elementor-template-full-width elementor-kit-6 elementor-page elementor-page-529
e--ua-firefox {{ /section:body_class }}

<a class="skip-link screen-reader-text" href="#content">Skip to content </a>

{{ blocks }}{{ if type == "our_partners" }}

<div data-elementor-type="wp-post" data-elementor-id="515" class="elementor elementor-515 elementor-15">

    <div data-elementor-type="wp-post" data-elementor-id="529" class="elementor elementor-529">
    <!-- Hero / Page Title Section -->

        <div class="elementor-element elementor-element-65111ab e-flex e-con-boxed e-con e-parent e-lazyloaded"
            data-id="65111ab" data-element_type="container" data-e-type="container"
            data-settings='{"background_background":"classic"}'>
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-11feeacc e-con-full e-flex e-con e-child"
                    data-id="11feeacc" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-525e43ed elementor-widget elementor-widget-heading animated fadeInUp"
                        data-id="525e43ed" data-element_type="widget" data-e-type="widget"
                        data-settings='{"_animation":"fadeInUp"}' data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">
                                {{ hero:title }}
                            </h1>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3d9c4ffd elementor-widget elementor-widget-text-editor animated fadeInUp"
                        data-id="3d9c4ffd" data-element_type="widget" data-e-type="widget"
                        data-settings='{"_animation":"fadeInUp"}' data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>
                                {{ hero:subtitle }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="elementor-element elementor-element-5f1ba690 e-flex e-con-boxed e-con e-parent e-lazyloaded"
            data-id="5f1ba690" data-element_type="container" data-e-type="container">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-4d91d5cb e-con-full e-flex e-con e-child"
                    data-id="4d91d5cb" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-6e7fde2e elementor-widget elementor-widget-heading animated fadeInUp"
                        data-id="6e7fde2e" data-element_type="widget" data-e-type="widget"
                        data-settings='{"_animation":"fadeInUp"}' data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">
                                {{ section:title }}
                            </h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-131df9a6 elementor-icon-list--layout-inline elementor-list-item-link-inline elementor-align-center elementor-widget__width-auto elementor-widget elementor-widget-icon-list animated fadeInUp"
                        data-id="131df9a6" data-element_type="widget" data-e-type="widget"
                        data-settings='{"_animation":"fadeInUp"}' data-widget_type="icon-list.default">
                        <div class="elementor-widget-container">
                            <ul class="elementor-icon-list-items elementor-inline-items">
                                <li class="elementor-icon-list-item elementor-inline-item">
                                    <a href="#">
                                        <span class="elementor-icon-list-icon">
                                            <i aria-hidden="true" class="far fa-handshake"></i>
                                        </span>
                                        <span class="elementor-icon-list-text">
                                            {{ section:highlight_text }}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-556b4727 e-con-full e-flex e-con e-child"
                        data-id="556b4727" data-element_type="container" data-e-type="container">
                        <div class="elementor-element elementor-element-78ee9d44 e-con-full e-flex e-con e-child"
                            data-id="78ee9d44" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-3aa32ba2 elementor-widget elementor-widget-testimonial animated fadeInUp"
                                data-id="3aa32ba2" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp"}' data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="wizara-ya-kilimo-tanzania" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                            <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img fetchpriority="high" decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-42" alt="" srcset="
                                                            {{ logo:url }} 300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4d50b17d e-con-full e-flex e-con e-child"
                            data-id="4d50b17d" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-24ffc21a elementor-widget elementor-widget-testimonial animated fadeInUp"
                                data-id="24ffc21a" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp","_animation_delay":250}'
                                data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="rikolto-international" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                           <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-41" alt="" srcset="
                                                            {{ logo:url }}   300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-29d103d9 e-con-full e-flex e-con e-child"
                            data-id="29d103d9" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-6ed604da elementor-widget elementor-widget-testimonial animated fadeInUp"
                                data-id="6ed604da" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp","_animation_delay":500}'
                                data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="tanzania-startup-association" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                           <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img loading="lazy" decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-40" alt="" srcset="
                                                            {{ logo:url }}         300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-element elementor-element-159a825 e-con-full e-flex e-con e-child"
                        data-id="159a825" data-element_type="container" data-e-type="container">

                        <div class="elementor-element elementor-element-30d95b14 e-con-full e-flex e-con e-child"
                            data-id="30d95b14" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-32b313bd elementor-invisible elementor-widget elementor-widget-testimonial"
                                data-id="32b313bd" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp"}' data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="ifakara-innovation-hub" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                            <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-41" alt="" srcset="
                                                            {{ logo:url }}         300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>

                        <div class="elementor-element elementor-element-566f515f e-con-full e-flex e-con e-child"
                            data-id="566f515f" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-5ad92cec elementor-invisible elementor-widget elementor-widget-testimonial"
                                data-id="5ad92cec" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp","_animation_delay":250}'
                                data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="kilimotija-tanzania-feed-the-future" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                            <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img loading="lazy" decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-40" alt="" srcset="
                                                            {{ logo:url }} 300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>

                        <div class="elementor-element elementor-element-50d29979 e-con-full e-flex e-con e-child"
                            data-id="50d29979" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-685469a1 elementor-invisible elementor-widget elementor-widget-testimonial"
                                data-id="685469a1" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp","_animation_delay":500}'
                                data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="azam-pesa-tanzania" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                           <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img fetchpriority="high" decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-42" alt="" srcset="
                                                            {{ logo:url }}         300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="elementor-element elementor-element-159a825 e-con-full e-flex e-con e-child"
                        data-id="159a825" data-element_type="container" data-e-type="container">

                        <div class="elementor-element elementor-element-30d95b14 e-con-full e-flex e-con e-child"
                            data-id="30d95b14" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-32b313bd elementor-invisible elementor-widget elementor-widget-testimonial"
                                data-id="32b313bd" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp"}' data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="tanzania-communications-regulatory-authority" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                            <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-41" alt="" srcset="
                                                            {{ logo:url }} 300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>

                        <div class="elementor-element elementor-element-566f515f e-con-full e-flex e-con e-child"
                            data-id="566f515f" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-5ad92cec elementor-invisible elementor-widget elementor-widget-testimonial"
                                data-id="5ad92cec" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp","_animation_delay":250}'
                                data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="vision-fund" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                            <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img loading="lazy" decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-40" alt="" srcset="
                                                            {{ logo:url }} 300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>

                        <div class="elementor-element elementor-element-50d29979 e-con-full e-flex e-con e-child"
                            data-id="50d29979" data-element_type="container" data-e-type="container">
                            <div class="elementor-element elementor-element-685469a1 elementor-invisible elementor-widget elementor-widget-testimonial"
                                data-id="685469a1" data-element_type="widget" data-e-type="widget"
                                data-settings='{"_animation":"fadeInUp","_animation_delay":500}'
                                data-widget_type="testimonial.default">
                                <div class="elementor-widget-container">
                                    {{ collection:partners slug:is="ruforum-and-mastercard-foundation" }}
                                    <div class="elementor-testimonial-wrapper">
                                        <div class="elementor-testimonial-content">
                                           <h6>{{ title }}:</h6>
                                        </div>

                                        <div
                                            class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                            <div class="elementor-testimonial-meta-inner">
                                                <div class="elementor-testimonial-image">
                                                    <img fetchpriority="high" decoding="async" width="300" height="300"
                                                        src="{{ logo:url }}"
                                                        class="attachment-full size-full wp-image-42" alt="" srcset="
                                                            {{ logo:url }} 300w,
                                                            {{ logo:url }} 150w
                                                        " sizes="(max-width: 300px) 100vw, 300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:partners }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- call to action -->
    {{ if cta:heading }}{{ partial:layout/cta-section }}{{ /if }}
</div>

{{ /if }}{{ /blocks }}
<!-- #content -->
{{# /#content #}}

<!-- footer -->

<!-- page-footer-tags -->