{{# ============================================================ #}}
{{# CTA SECTION - fields come from the "cta" group of the calling page set #}}
{{# ============================================================ #}}
<div class="elementor-element elementor-element-584c677a e-flex e-con-boxed e-con e-parent" data-id="584c677a"
    data-element_type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-60751186 e-con-full e-flex e-con e-child" data-id="60751186"
            data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-4eacae0d e-con-full e-flex e-con e-child" data-id="4eacae0d"
                data-element_type="container">
                <div class="elementor-element elementor-element-7c00c5c7 e-con-full e-flex e-con e-child"
                    data-id="7c00c5c7" data-element_type="container">
                    <div class="elementor-element elementor-element-1c5fd992 elementor-invisible elementor-widget elementor-widget-image"
                        data-id="1c5fd992" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-2df1d9c6 e-con-full e-flex e-con e-child"
                    data-id="2df1d9c6" data-element_type="container">
                    <div class="elementor-element elementor-element-3ede8608 elementor-invisible elementor-widget elementor-widget-heading"
                        data-id="3ede8608" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">{{ cta:heading }}</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-48ab3829 elementor-mobile-align-center elementor-invisible elementor-widget elementor-widget-button"
                        data-id="48ab3829" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm" href="{{ cta:button_url }}">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-icon">
                                            <i aria-hidden="true" class="fas fa-angle-right"></i>
                                        </span>
                                        <span class="elementor-button-text">{{ cta:button_text }}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
