<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">

    <div data-elementor-type="wp-post" data-elementor-id="59" class="elementor elementor-59">

        <div class="elementor-element elementor-element-e4ea2ee e-flex e-con-boxed e-con e-parent e-lazyloaded"
            data-id="e4ea2ee" data-element_type="container" data-e-type="container"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-71d32e9 e-con-full e-flex e-con e-child"
                    data-id="71d32e9" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-4c37da8 e-con-full e-flex e-con e-child"
                        data-id="4c37da8" data-element_type="container" data-e-type="container">

                        {{# ── Brand: Logo + Tagline + Back to Top ── #}}
                        <div class="elementor-element elementor-element-0a87d2e elementor-widget elementor-widget-image animated fadeInUp"
                            data-id="0a87d2e" data-element_type="widget" data-e-type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="image.default">
                            <a href="{{ config:app:url }}" title="{{ settings:site_name }} Home">
                                <img width="274" height="80"
                                    src="{{ settings:footer_logo:url }}"
                                    class="attachment-full size-full wp-image-52" alt="{{ settings:footer_logo:alt ?? settings:site_name }}">
                            </a>
                        </div>
                        <div class="elementor-element elementor-element-037ab19 elementor-widget elementor-widget-text-editor animated fadeInUp"
                            data-id="037ab19" data-element_type="widget" data-e-type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="text-editor.default">
                            <p>{{ footer:tagline }}</p>
                        </div>
                        <div class="elementor-element elementor-element-d9c7ffe elementor-widget elementor-widget-button"
                            data-id="d9c7ffe" data-element_type="widget" data-e-type="widget"
                            data-widget_type="button.default">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">{{ footer:back_to_top_text ?? 'Back to Top' }}</span>
                                </span>
                            </a>
                        </div>

                        </div>

                    {{# ── Link Columns (CP-editable via the Footer navigation) ── #}}
                    {{ partial:partials/footer_nav }}

                </div>

                {{# ── Bottom Bar: Copyright + Legal Links ── #}}
                <div class="elementor-element elementor-element-1dc93c9 e-con-full e-flex e-con e-child"
                    data-id="1dc93c9" data-element_type="container" data-e-type="container">
                        <div class="elementor-element elementor-element-bde5c4b elementor-widget__width-inherit elementor-widget-divider--view-line elementor-widget elementor-widget-divider animated fadeInUp"
                            data-id="bde5c4b" data-element_type="widget" data-e-type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="divider.default">
                            <div class="elementor-divider">
                                <span class="elementor-divider-separator">
                                </span>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-f3ad743 elementor-widget elementor-widget-text-editor animated fadeInUp"
                            data-id="f3ad743" data-element_type="widget" data-e-type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;250&quot;}"
                            data-widget_type="text-editor.default">
                            {{ footer:copyright }}
                        </div>
                        <div class="elementor-element elementor-element-0a6469a elementor-icon-list--layout-inline elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list animated fadeInUp"
                            data-id="0a6469a" data-element_type="widget" data-e-type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="icon-list.default">
                            <ul class="elementor-icon-list-items elementor-inline-items">
                                {{ footer:legal_links }}
                                <li class="elementor-icon-list-item elementor-inline-item">
                                    <a href="{{ url }}">

                                        <span class="elementor-icon-list-text">{{ label }}</span>
                                    </a>
                                </li>
                                {{ /footer:legal_links }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>