<!-- price -->
<div class="container" data-site-container="">

    <div class="header-sections">

        <div id="shopify-section-sections--19215017443497__announcement"
            class="shopify-section shopify-section-group-group-header page-announcement">

            <style data-shopify="">
                :root {

                    --ANNOUNCEMENT-HEIGHT-DESKTOP: max(calc(var(--font-body-small) * var(--line-height-normal)), 36px);
                    --ANNOUNCEMENT-HEIGHT-MOBILE: max(calc(var(--font-body-small) * var(--line-height-normal)), 36px);
                }
            </style>

            <div id="Announcement--sections--19215017443497__announcement"
                class="announcement__wrapper announcement__wrapper--top color-scheme-2" data-announcement-wrapper=""
                data-section-id="sections--19215017443497__announcement" data-section-type="announcement" style="--PT: 0px; --PB: 0px;
        --ticker-direction: ticker-rtl;--text-size: var(--font-body-small);
        --text-align: center; --justify-content: center;">

                <div class="announcement__bar announcement__bar--error section-padding">
                    <div class="announcement__message">
                        <div class="announcement__text body-small">
                            <div class="announcement__main">{{ header:browser_warning }}</div>
                        </div>
                    </div>
                </div>

                <announcement-bar class="announcement__bar-outer section-padding" style="--padding-scrolling: 20px;">
                    <div class="announcement__bar-holder announcement__bar-holder--marquee">
                        <div class="announcement__bar"><ticker-bar autoplay="" speed="3.26">
                                <div data-ticker-frame="" class="announcement__message">
                                    <div data-ticker-scale="" class="announcement__scale"
                                        style="--animation-time: 24.22s; --animation-speed: 3.26;">
                                        <div data-ticker-text="" class="announcement__text ticker--animated">
                                            {{ header:price_ticker }}
                                            <div class="announcement__slide" style="">
                                                <div class="body-small">
                                                    <p><a href="{{ url }}" title="{{ text }}">{{ text }} </a></p>
                                                </div>
                                            </div>
                                            {{ /header:price_ticker }}
                                        </div>
                                        <div data-ticker-text="" class="announcement__text ticker--animated"
                                            data-clone="">
                                            {{ header:price_ticker }}
                                            <div class="announcement__slide" style="">
                                                <div class="body-small">
                                                    <p><a href="{{ url }}" title="{{ text }}">{{ text }} </a></p>
                                                </div>
                                            </div>
                                            {{ /header:price_ticker }}
                                        </div>
                                        <div data-ticker-text="" class="announcement__text ticker--animated"
                                            data-clone="">
                                            {{ header:price_ticker }}
                                            <div class="announcement__slide" style="">
                                                <div class="body-small">
                                                    <p><a href="{{ url }}" title="{{ text }}">{{ text }} </a></p>
                                                </div>
                                            </div>
                                            {{ /header:price_ticker }}
                                        </div>
                                        <div data-ticker-text="" class="announcement__text ticker--animated"
                                            data-clone="">
                                            {{ header:price_ticker }}
                                            <div class="announcement__slide" style="">
                                                <div class="body-small">
                                                    <p><a href="{{ url }}" title="{{ text }}">{{ text }} </a></p>
                                                </div>
                                            </div>
                                            {{ /header:price_ticker }}
                                        </div>
                                    </div>
                                </div>
                                <div data-ticker-text="" class="announcement__text ticker__comparitor">
                                    {{ header:price_ticker }}
                                    <div class="announcement__slide" style="">
                                        <div class="body-small">
                                            <p><a href="{{ url }}" title="{{ text }}">{{ text }} </a></p>
                                        </div>
                                    </div>
                                    {{ /header:price_ticker }}
                                </div>
                            </ticker-bar>
                        </div>
                    </div>
                </announcement-bar>

            </div>

        </div>
        
    </div>

</div>



<!-- header -->
<div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support">
    <div data-elementor-type="wp-post" data-elementor-id="50" class="elementor elementor-50">
        <div class="elementor-element elementor-element-e7d795f e-flex e-con-boxed e-con e-parent e-lazyloaded"
            data-id="e7d795f" data-element_type="container" data-e-type="container"
            data-settings='{"position":"absolute"}'>
            <div class="e-con-inner">
                <div class="elementor-element elementor-element-aba9955 e-con-full e-flex e-con e-child"
                    data-id="aba9955" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-0351de8 e-con-full e-flex e-con e-child"
                        data-id="0351de8" data-element_type="container" data-e-type="container">
                        <div class="elementor-element elementor-element-3f9aa03 elementor-widget elementor-widget-image animated fadeInDown"
                            data-id="3f9aa03" data-element_type="widget" data-e-type="widget"
                            data-settings='{"_animation":"fadeInDown","_animation_delay":"250"}'
                            data-widget_type="image.default">
                            <a href="{{ config:app:url }}" title="{{ settings:site_name }} Home">
                                <img width="274" height="80"
                                    src="{{ settings:header_logo:url }}"
                                    class="attachment-full size-full wp-image-52" alt="{{ settings:header_logo:alt ?? settings:site_name }}" />
                            </a>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-60f7eeb e-con-full e-flex e-con e-child"
                        data-id="60f7eeb" data-element_type="container" data-e-type="container">
                        <div class="elementor-element elementor-element-24859a0 elementor-widget elementor-widget-ekit-nav-menu animated fadeInDown"
                            data-id="24859a0" data-element_type="widget" data-e-type="widget"
                            data-settings='{"_animation":"fadeInDown","_animation_delay":"500"}'
                            data-widget_type="ekit-nav-menu.default">
                            <div class="elementor-widget-container">
                                <nav class="ekit-wid-con ekit_menu_responsive_tablet"
                                    data-hamburger-icon="icon icon-menu-11" data-hamburger-icon-type="icon"
                                    data-responsive-breakpoint="1024" data-close-on-anchor="no">
                                    <button class="elementskit-menu-hamburger elementskit-menu-toggler" type="button"
                                        aria-label="hamburger-icon">
                                        <svg class="ekit-menu-icon ekit-svg-icon icon-menu-11" viewBox="0 0 32 32"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M30.707 15.107h-29.415c-0.714 0-1.293 0.579-1.293 1.293s0.579 1.293 1.293 1.293h29.415c0.714 0 1.293-0.579 1.293-1.293s-0.579-1.293-1.293-1.293zM30.707 5.302h-29.415c-0.714 0-1.293 0.579-1.293 1.293s0.579 1.293 1.293 1.293h29.415c0.714 0 1.293-0.579 1.293-1.293s-0.579-1.293-1.293-1.293zM30.707 24.912h-29.415c-0.714 0-1.293 0.579-1.293 1.293s0.579 1.293 1.293 1.293h29.415c0.714 0 1.293-0.579 1.293-1.293s-0.579-1.293-1.293-1.293z">
                                            </path>
                                        </svg>
                                    </button>
                                    <div id="ekit-megamenu-menu"
                                        class="elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default ekit-nav-menu-one-page-no ekit-nav-dropdown-hover"
                                        ekit-dom-added="yes">
                                        <ul id="menu-menu"
                                            class="elementskit-navbar-nav elementskit-menu-po-left submenu-click-on-icon">
                                            {{ nav:navigation }}
                                            {{ if no_results }}
                                            <li class="menu-item nav-item elementskit-mobile-builder-content"
                                                data-vertical-menu="750px">
                                                <span class="ekit-menu-nav-link">Menu</span>
                                            </li>
                                            {{ else }}
                                            <li id="menu-item-{{ index }}"
                                                class="menu-item menu-item-type-post_type menu-item-object-page {{ if children }}menu-item-has-children{{ /if }} menu-item-{{ index }} nav-item {{ if children }}elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width{{ /if }} elementskit-mobile-builder-content {{ if is_current || is_parent }}active{{ /if }}"
                                                data-vertical-menu="750px">
                                                <a href="{{ url }}"
                                                    class="ekit-menu-nav-link {{ if children }}ekit-menu-dropdown-toggle{{ /if }} {{ if is_current || is_parent }}active{{ /if }}">{{
                                                    nav_title ?? title }}{{ if children }}<svg
                                                        class="elementskit-submenu-indicator ekit-svg-icon icon-arrow-point-to-down"
                                                        viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 8.4h32l-16 16-16-16z"></path>
                                                    </svg>{{ /if }}</a>
                                                {{ if children }}
                                                <ul class="elementskit-dropdown elementskit-submenu-panel">
                                                    {{ children }}
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ index }} nav-item elementskit-mobile-builder-content"
                                                        data-vertical-menu="750px">
                                                        <a href="{{ url }}" class="dropdown-item">{{ title }}</a>
                                                    </li>
                                                    {{ /children }}
                                                </ul>
                                                {{ /if }}
                                            </li>
                                            {{ /if }}
                                            {{ /nav:navigation }}
                                        </ul>
                                        <div class="elementskit-nav-identity-panel">
                                            <a class="elementskit-nav-logo" href="{{ config:app:url }}" target=""
                                                rel=""><img
                                                    src="{{ settings:header_logo:url }}"
                                                    title="{{ settings:site_name }}" alt="{{ settings:site_name }}"
                                                    decoding="async" /></a><button
                                                class="elementskit-menu-close elementskit-menu-toggler" type="button">
                                                X
                                            </button>
                                        </div>
                                    </div>
                                    <div
                                        class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay">
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-15f18f3 e-con-full elementor-hidden-mobile e-flex e-con e-child"
                        data-id="15f18f3" data-element_type="container" data-e-type="container">
                        <div class="elementor-element elementor-element-30b8e70 elementor-widget elementor-widget-button animated fadeInDown"
                            data-id="30b8e70" data-element_type="widget" data-e-type="widget"
                            data-settings='{"_animation":"fadeInDown","_animation_delay":"750"}'
                            data-widget_type="button.default">
                            <a class="elementor-button elementor-button-link elementor-size-sm"
                                href="{{ header:cta_button_url }}">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">{{ header:cta_button_text }}</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>